.navigation{
    font-family: 'Nunito', sans-serif;
    height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        box-sizing: border-box;
        position: absolute;
        display: flex;
        border-radius: 10px;
         margin-top: 5px;
  
  
  }

  

 